<!doctype html>
<html>
  <head>
    <title>smsXpress</title>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script src='js/sms.js'></script>
  </head>

  <body ng-app='smsXpress'>
    <div class='container' ng-controller='sms'>

      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">smsXpress</a>
        <div class="row">
          <button class="btn btn-outline-primary my-2 my-sm-0 float-right" data-toggle="modal" data-target="#consultaModal">Consultas</button>
        </div>
      </nav>

      <div class="container">
        <hr>
        <div class="input-group mb-3">
          <input type='text' class="form-control" placeholder="Números" ng-model='numbers' ng-show='!showProtocol && !showConfirmation'>
        </div>
        <div class="input-group mb-3">
          <input type='text' class="form-control" placeholder="Mensagem" class='container' ng-model='message' ng-show='!showProtocol && !showConfirmation'>
        </div>
        <button class="btn btn-primary" ng-show='!showProtocol && !showConfirmation' ng-click='showConfirmation = true'>Continuar</button>
        <h3 ng-show='showProtocol'>Parabéns! Seu SMS foi enviado com sucesso.</h3>
        <label ng-show='showProtocol'>{{ protocol }}</label>
        <br>
        <button class="btn btn-primary" ng-show='showProtocol' ng-click='showProtocol = false; numbers = ""; message = ""'>Voltar</button>
      </div>

      <div class="container" ng-show='showConfirmation'>
        <h3>Seu sms irá custar: R$ 1,50</h3>
        <button class="btn btn-primary" ng-click='sendSms()'>Confirmar envio</button>
        <button class="btn btn-danger" ng-click='showConfirmation = false'>Cancelar</button>
      </div>

      <div class="modal fade" id="consultaModal" tabindex="-1" role="dialog" aria-labelledby="consultaModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="consultaModalLabel">Consulta de SMS</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="input-group mb-3">
                  <input type='text' class="form-control" placeholder="Protocolo" ng-model="protocolCheck">
                  <button class="btn btn-primary" ng-click="getSms()">Consultar</button>
                </div>
                <label class="container">{{ numbersCheck }}</label>
                <label class="container">{{ messageCheck }}</label>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
          </div>
        </div>
      </div>

      <hr>
      <div class="container">
        <h2>Sobre</h2>
        O smsXpress permite a você enviar SMSs direto do seu browser, sem dificuldades. Você tem a opção de enviar uma mensagem para um ou mais números, ou checar as mensagens que você já enviou usando o protocolo que você recebe ao enviar um SMS pelo smsXpress.
      </div>
    </div>
  </body>
</html>
