<!doctype html>
<html>
  <head>
    <title>smsXpress</title>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script src='js/sms.js'></script>
  </head>

  <body ng-app='smsXpress'>
    <div class='container' ng-controller='sms'>
      <div class="container">
        <h1>smsXpress</h1>
        <hr>
        <div class="input-group mb-3">
          <input type='text' class="form-control" placeholder="Numbers" ng-model='numbers'>
        </div>
        <div class="input-group mb-3">
          <input type='text' class="form-control" placeholder="Message" class='container' ng-model='message'>
        </div>
        <button class="btn btn-primary" ng-click='sendSms()'>Send SMS</button>
        <label>{{ protocol }}</label>
      </div>
      <hr>
      <div class="container">
        <div class="input-group mb-3">
          <input type='text' class="form-control" placeholder="Protocol" ng-model="protocolCheck">
          <button class="btn btn-primary" ng-click="getSms()">check</button>
        </div>
        <label class="container">{{ numbersCheck }}</label>
        <label class="container">{{ messageCheck }}</label>
      </div>
    </div>
  </body>
</html>
